.spinner {
    width: 60px;
    height: 60px;
    border: 4px solid #eee;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1.4s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg);}
}

/* прячем украинский флаг */
.leaflet-control-attribution a:first-of-type,
.leaflet-control-attribution span:first-of-type {
    display: none;
}